<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BingeIt - Sign Up</title>

   <link rel="stylesheet" href="../public/css/auth.css">
</head>

<body>

    <div class="auth-page">

        <!-- Logo -->
        <div class="auth-logo">
            <span class="logo-icon">🎥</span>
            <span>Binge<span>It</span></span>
        </div>

        <!-- Sign Up Card -->
        <div class="auth-card">

            <h1>Create Your Account</h1>

            <p class="auth-subtitle">
                Start building your perfect watchlist.
            </p>

            <form>

                <div class="input-group">
                    <label for="name">Name</label>
                    <input
                        type="text"
                        id="name"
                        placeholder="Enter your name"
                        required
                    >
                </div>

                <div class="input-group">
                    <label for="email">Email</label>
                    <input
                        type="email"
                        id="email"
                        placeholder="Enter your email"
                        required
                    >
                </div>

                <div class="input-group">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        id="password"
                        placeholder="Create a password"
                        required
                    >
                </div>

                <div class="input-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input
                        type="password"
                        id="confirm-password"
                        placeholder="Confirm your password"
                        required
                    >
                </div>

                <button type="submit" class="auth-button">
                    Create Account
                </button>

            </form>

          

            <p class="switch-page">
                Already have an account?
                <a href="login.html">Login</a>
            </p>

        </div>

        <p class="auth-footer">
            Lights Off. Popcorn Ready. Binge On.
        </p>

    </div>
<script src="../public/js/auth.js"></script>
</body>
</html>